* text=auto

/.github export-ignore
/.phive export-ignore
/tests export-ignore
/tools export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/swift.php export-ignore
/ToRussianPeople.md export-ignore