on:
    pull_request:
    push:
        branches:
            - master
        tags:
            - "**"

name: "Tests"

jobs:
    tests:
        name: "PHP ${{ matrix.php-version }} Test"

        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version: [7.1, 7.2, 7.3, 7.4, 8.0]

        steps:
            - name: "Checkout"
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: bcmath
                  coverage: none
                  tools: composer:v2

            - name: Get composer cache directory
              id: composercache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Cache composer dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composercache.outputs.dir }}
                  key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}
                  restore-keys: |
                      composer-${{ runner.os }}-${{ matrix.php-version }}-
                      composer-${{ runner.os }}-
                      composer-

            - name: "Install dependencies"
              run: composer install --prefer-dist --no-progress --no-suggest

            - name: "Run tests"
              run: vendor/bin/phpunit